<video id="localVideo" autoplay playsinline></video>
<video id="remoteVideo" autoplay playsinline></video>


<div>
  <button id="callButton">Call</button>
  <button id="hangupButton">Hang Up</button>
</div>


